// CityCard.module.scss

.card {
  width: 100%;
  max-width: 32rem; /* 2xl */
  margin-top: 2rem; /* mt-8 */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); /* backdrop-blur-md */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem; /* rounded-2xl */
  padding: 1.5rem; /* p-6 */
  color: white;

  &:hover {
    background: rgba(255, 255, 255, 0.15);
    // transform: translateY(-4px);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.45);
  }
}

.title {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700; /* font-bold */
  margin-bottom: 0.5rem; /* mb-2 */
}

.card-text {
  font-size: 1.125rem; /* text-lg */
}

.card-description {
  text-transform: capitalize;
}
