body {
  padding: 0;
  margin: 0;

  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  /* width: 100vw; */
  background: linear-gradient(to bottom right, #111827, #000);
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2.5rem 1.5rem;
  display: flex;
}

.pageTitle {
  font-size: 3.125rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 2.5rem;
  letter-spacing: -0.5px;
}
